:root {
  --blue: #1ac1dd;
  --coral: #f88379;
  --green: #00cc99;
  --yellow: #ffff00;
  --white: #fff;
  --orange: #f47e1d;
  --darkblue: #1f5f76;
}
body {
  background-color: var(--yellow);
}
article {
  background-color: var(--blue);
}
header,
footer {
  background-color: var(--coral);
  text-align: center;
}
h1 {
  font-size: 3em;
  color: var(--yellow);
}
h2 {
  font-size: 2em;
  color: var(--yellow);
  margin-left: 30px;
}
img {
  width: 100%;
  height: 50%;
}
p {
  color: var(--white);
  font-size: 1.4em;
  margin: 0px 20px;
}
a {
  color: var(--yellow);
  text-decoration: none;
}
a:hover {
  color: var(--white);
}
figcaption {
  color: var(--darkblue);
  font-size: 1.1em;
  padding: 2px 0px;
}
section {
  padding: 5px 0px;
  margin: 5px 0px;
}
#sec2 {
  background-color: var(--green);
}

#copy {
  color: var(--darkblue);
  font-size: 1em;
  padding: 15px;
}
